body {

}



.top {
    background-color: deepskyblue;
}

.main-sec{
    display: flex;

}

.left-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: lightskyblue;
}

.right-sec {
    
}


.book-card {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}