body {

}

.top {
    background-color: deepskyblue;
}

.left-sec {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: lightskyblue;
}
